@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-container {
  height: 100vh;
  /* width: 100vw; */
  height: 100svh;
  background: rgb(255,0,99);
  background: linear-gradient(90deg, rgba(255,0,99,1) 0%, rgba(171,0,145,1) 50%, rgba(165,0,255,1) 100%);
}

.animated-box {
  @apply bg-slate-500 w-[300px] h-[300px] p-6;
}

.myButton {
  @apply bg-slate-500 p-4 text-white inline-block
}